<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Listar egresos</ion-title>
    <ion-item>
    <ion-icon name="home-outline"></ion-icon>
    <ion-button routerLink="/inicio" >Inicio</ion-button>
    <ion-icon name="accessibility-outline"></ion-icon>
    <ion-button routerLink="/registro-egresos" >Registro de egresos</ion-button>
  </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card-content>
 <ion-card *ngFor="let dato_obtenido of datos_obtenidos">
   <ion-item>
    <ion-icon name="arrow-redo-circle-outline"></ion-icon>
     ID: {{dato_obtenido.id}}
   </ion-item>
   <ion-item>
    <ion-icon name="arrow-redo-circle-outline"></ion-icon>
     Descripcion: {{dato_obtenido._descripcion}}
   </ion-item>
   <ion-item>
    <ion-icon name="arrow-redo-circle-outline"></ion-icon>
     Precio: {{dato_obtenido.precio}}
   </ion-item>
   <ion-item>
   </ion-item>
 </ion-card>
</ion-card-content>
</ion-content>
