<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>listar usuarios</ion-title>
    <ion-item>
    <ion-icon name="home-outline"></ion-icon>
    <ion-button routerLink="/inicio" >Inicio</ion-button>
    <ion-icon name="accessibility-outline"></ion-icon>
    <ion-button routerLink="/registro-usuarios" >Registro de usuarios</ion-button>
  </ion-item>
  </ion-toolbar>
</ion-header>

<ion-card-title class="ion-text-center">Listar Usuarios</ion-card-title>
<ion-card>
  <ion-card-header>
    <ion-card-subtitle></ion-card-subtitle>
  </ion-card-header>
<ion-content>
<ion-card-content>
 <ion-card  *ngFor="let dato_obtenido of datos_obtenidos" >
  <ion-icon name="heart"></ion-icon>
  <ion-card-title class="ion-text-center">Usuario: {{dato_obtenido.nombre}}</ion-card-title>
   <ion-item>
    <ion-icon name="arrow-redo-circle-outline"></ion-icon> 
     Rut: {{dato_obtenido.rut}}
   </ion-item>
   <ion-item>
    <ion-icon name="arrow-redo-circle-outline"></ion-icon>
     ID: {{dato_obtenido._id}}
   </ion-item>
   <ion-item>
    <ion-icon name="arrow-redo-circle-outline"></ion-icon>
     Nombre: {{dato_obtenido.nombre}}
   </ion-item>
   <ion-item>
    <ion-icon name="arrow-redo-circle-outline"></ion-icon>
     Apellido: {{dato_obtenido.apellido}}
   </ion-item>
   <ion-item>
    <ion-icon name="arrow-redo-circle-outline"></ion-icon>
     Coreo: {{dato_obtenido.correo}}
   </ion-item>
   <ion-item>
    <ion-icon name="arrow-redo-circle-outline"></ion-icon>
     Password: {{dato_obtenido.password}}
   </ion-item>
 </ion-card>
</ion-card-content>
</ion-content>
