<ion-header>
  <ion-toolbar>
    <ion-title>inicio</ion-title>
  <ion-item>
    <ion-icon name="accessibility-outline"></ion-icon>
    <ion-button routerLink="/registro-usuarios" >Registro de usuarios</ion-button>
    <ion-icon name="create-outline"></ion-icon>
    <ion-button routerLink="/listar-usuarios" >Lista de usuarios</ion-button>
    <ion-icon name="file-tray-full-outline"></ion-icon>
    <ion-button routerLink="/registro-egresos" >Registro de egresos</ion-button>
    <ion-icon name="file-tray-stacked-outline"></ion-icon>
    <ion-button routerLink="/listar-egresos" >Lista de egresos</ion-button>
  </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-content>
<ion-title>Inicio:</ion-title>Hola. Bienvenidos a mi pagina, esta pantalla redirecciona a otras paginas para hacer funciones de registrar o listar

 <ion-title>Registro de usuarios:</ion-title> Esta se usa para registrar nuevos usuarios

 <ion-title>Lista de usuarios:</ion-title> Esta pagina es para mostrar una lista de usuarios registrados

 <ion-title>Registro de egresos: </ion-title> Esta pagina se usa para registrar los egresos de usuarios

 <ion-title>Lista de egresos:</ion-title> Esta pagina es para mostrar los egresos registrados por usuario

</ion-card-content>
</ion-content>
